*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.vscode/
app/release/

# ignore files copied by cmake from Aperture project
app/src/main/assets/res
app/src/main/assets/mc
app/src/main/assets/sound
app/src/main/assets/glsl
app/src/main/assets/ap_glsl
app/src/main/assets/fonts
